# coding: utf-8

"""
    Enabled Robotics REST Interface

    REST Interface exposed by Enabled Robotics  # noqa: E501

    OpenAPI spec version: 0.1-oas3
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from er.api_client import ApiClient


class ReferencesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def ref_get(self, ref_id, **kwargs):  # noqa: E501
        """ref_get  # noqa: E501

        Get transform to a specific reference (XYZRPY) (Meters and Radians)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ref_get(ref_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ref_id: UID of target reference (required)
        :param str _from: UID of base reference (default=World)
        :return: Transform
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.ref_get_with_http_info(ref_id, **kwargs)  # noqa: E501
        else:
            (data) = self.ref_get_with_http_info(ref_id, **kwargs)  # noqa: E501
            return data

    def ref_get_with_http_info(self, ref_id, **kwargs):  # noqa: E501
        """ref_get  # noqa: E501

        Get transform to a specific reference (XYZRPY) (Meters and Radians)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ref_get_with_http_info(ref_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ref_id: UID of target reference (required)
        :param str _from: UID of base reference (default=World)
        :return: Transform
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ref_id', '_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ref_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ref_id' is set
        if ('ref_id' not in params or
                params['ref_id'] is None):
            raise ValueError("Missing the required parameter `ref_id` when calling `ref_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ref_id' in params:
            path_params['ref_id'] = params['ref_id']  # noqa: E501

        query_params = []
        if '_from' in params:
            query_params.append(('_from', params['_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/transform/{ref_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Transform',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def references_get(self, **kwargs):  # noqa: E501
        """references_get  # noqa: E501

        Get all defined references on the system  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.references_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ReferenceArray
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.references_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.references_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def references_get_with_http_info(self, **kwargs):  # noqa: E501
        """references_get  # noqa: E501

        Get all defined references on the system  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.references_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ReferenceArray
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method references_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/references', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReferenceArray',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
